body {
    padding: 0;
  }
  
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .username-input,
  .password-input {
    margin-bottom: 10px;
  }
  
  .button {
    text-align: center;
    margin-top: 10px;
  }
  
.MuiInputLabel-root {
    color: white;
    font-size: 20px;
    font-weight: 10;
}
.MuiInputBase-input {
    color: white;
}
.MuiInputLabel-root.Mui-focused {
    color: #2e7d32;
    font-size: 20px;
    font-weight: bold;
}

.MuiButtonBase-root {
    margin-top: 50px;
    width: 100%;
    color: white;
    outline-color: #2e7d32;
    border-radius: 2px;
    border: 2px solid #2e7d32;
}