body {
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=2c587c&c2=8f57a4&gt=l&gd=dbb
*/
  background: #2C587C;
  background: linear-gradient(0deg, #2C587C, #8F57A4);
  color: white;
  font-family: monospace;
  font-weight: lighter;
  margin-left: 5%;
  margin-right: 5%;
}
